<footer class="footer" id="footer">
  <div class="container-fluid container_big">
    <div class="row align-items-start">
      <div class="col-md-4 order-0">
        <a href="#" class="logo footer__logo">
          <svg class="logo__svg"  width="193" height="25">
            <use xlink:href="#logo"></use>
          </svg>
          <p class="logo__text">Партнер в области IT-исследований</p>
        </a>
        <a href="" class="header__email footer__email  d-md-none">
          <svg width="23" height="18">
            <use xlink:href="#icon-mail"></use>
          </svg>
          <span>smart-heads@почта.ru</span>
        </a>
        <a href="tel:89451234567" class="footer__phone">+7 (945) 123 - 45 - 67</a>
        <p class="footer__caption">ООО "Смартхэдс"</p>
        <p class="footer__req">ИНН 9709070318</p>
        <p class="footer__req"> 101000, г. Москва, Лубянский проезд, ﻿д. 15, стр. 2</p>
      </div>
      <div class="col-md-4">
        <div class="footer__hr d-md-none"></div>
        <a href="https://nikto.agency" target="_blank" class="footer__dev">
          <svg width="107" height="17">
            <use xlink:href="#nk"></use>
          </svg>
          <span>Разработка и продвижение</span>
        </a>

      </div>
      <div class="col-md-4">
        <a href="" class="header__email footer__email d-none d-md-flex">
          <svg width="23" height="18">
            <use xlink:href="#icon-mail"></use>
          </svg>
          <span>smart-heads@почта.ru</span>
        </a>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="footer__hr"></div>
      <a href="" class="footer__policy">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
