<header class="header">
  <div class="container-fluid container_big">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <a href="#" class="logo header__logo">
          <svg class="logo__svg"  width="193" height="25">
            <use xlink:href="#logo"></use>
          </svg>
          <p class="logo__text">Партнер в области IT-исследований</p>
        </a>
      </div>
      <div class="col-lg-6">
        <nav class="nav header__nav top-nav">
          <ul class="top-nav__list">
            <li class="top-nav__item"><a href="" class="top-nav__link">Преимущества</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Услуги</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Исследования</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Кейсы</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <a href="" class="header__email">
          <svg width="23" height="18">
            <use xlink:href="#icon-mail"></use>
          </svg>
          <span>smart-heads@почта.ru</span>
        </a>
      </div>
    </div>
  </div>
</header>
